<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="GovObjectsController" data-ng-init="list()">
  <div class="row">
    <div>
      <div class="page-header">
        <h1>
          <span translate>Proposals</span>
        </h1>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped text-center">
          <thead>
            <tr>
              <th class="text-center" translate><p>Start Epoch</p></th>
              <th class="text-center" translate><p>End Epoch</p></th>
              <th class="text-center" translate><p>Name</p></th>
              <th class="text-center" translate><p>Payment Address</p></th>
              <th class="text-center" translate><p>Payment Amount</p></th>
              <th class="text-center" translate><p>Type</p></th>
              <th class="text-center" translate><p>Url</p></th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-show="loading">
            <td colspan="7"><span translate>Waiting for governance objects...</span> <span class="loader-gif"></span></td>
          </tr>
          <tr class="fader" data-ng-repeat='d in gobjectData'>
            <td class="text-center">{{d.start_epoch}}</td>
            <td class="text-center">{{d.end_epoch}}</td>
            <td class="text-center">{{d.name}}</td>
            <td class="text-center"><a href="address/{{d.payment_address}}">{{d.payment_address}}</a></td>
            <td class="text-center">{{d.payment_amount}}</td>
            <td class="text-center">{{d.type}}</td>
            <td class="text-center">{{d.url}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div data-ng-if="pagination.more">
        <a class="btn btn-primary" href="gobjects-date/{{pagination.current}}" data-ng-show="{{before}}">Lastest masternode from date</a>
        <a class="btn btn-primary" href="gobjects-date/{{pagination.current}}/{{pagination.moreTs}}">Older gobjects from this date</a>
      </div>
    </div>
  </div>
  <h2 class="text-center text-muted" data-ng-show="!gobjects.length && !loading"
    translate>No gobjects yet.</h2>
</section>

