<div class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="/masternodes">Full Masternode List</a></li>
        <li><a data-toggle="tab" href="/masternodesbyrank">Masternode Rank</a></li>
    </ul>
    
        <div id="menu2" class="tab-pane">
        <div data-ng-include src="'views/includes/connection.html'"></div>
            <section data-ng-controller="MasternodesController" data-ng-init="listByRank()">
            <div class="row">
                <div>
                <div class="page-header">
                    <h1>
                    <span translate>Masternodes By Rank</span>
                    </h1>
                </div>
                <div class="table-responsive" style="overflow-x: auto">
                    <table class="table table-hover table-striped text-center">
                    <thead>
                        <tr>
                        <th class="text-center" translate><p>Rank</p></th>
                        <th class="text-center" translate><p>Tx Hash</p></th>
                        <th class="text-center" translate><p>Output Index</p></th>
                        <th class="text-center" translate><p>Status</p></th>
                        <th class="text-center" translate><p>Address</p></th>
                        <th class="text-center" translate><p>Version</p></th>
                        <th class="text-center" translate><p>Last Seen</p></th>
                        <th class="text-center" translate><p>Active Time</p></th>
                        
                        </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-show="loading">
                        <td colspan="5"><span translate>Waiting for masternodes...</span> <span class="loader-gif"></span></td>
                    </tr>
                    <tr class="fader" data-ng-repeat='masternode in masternodesByRank'>
                        <td class="text-center">{{masternode.rank}}</td>
                        <td class="text-center">{{masternode.txhash}}</td>
                        <td class="text-center">{{masternode.outidx}}</td>
                        <td class="text-center">{{masternode.status}}</td>
                        <td class="text-center"><a href="address/{{masternode.addr}}">{{masternode.addr}}</a></td>
                        <td class="text-center">{{masternode.version}}</td>
                        <td class="text-center">{{masternode.lastseen}}</td>
                        <td class="text-center">{{masternode.activetime}}</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div data-ng-if="pagination.more">
                    <a class="btn btn-primary" href="masternodes-date/{{pagination.current}}" data-ng-show="{{before}}">Lastest masternode from date</a>
                    <a class="btn btn-primary" href="masternodes-date/{{pagination.current}}/{{pagination.moreTs}}">Older masternodes from this date</a>
                </div>
                </div>
            </div>
            <h2 class="text-center text-muted" data-ng-show="!masternodesByRank.length && !loading"
                translate>No masternodes yet.</h2>
            </section>
        </div>
</div>